@charset "UTF-8";
* {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
}

/*Section Navigation*/
.navigation {
    height: 70px;
    background: #2b2c2c;
  }
  
  nav {
    float: right;
    width:100%;
  }

  li{
    text-decoration: none;
}
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background:#313131;
  }
  
  nav ul li {
    float: left;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    color: #72e0d1;
    text-decoration: none;
    background-image: linear-gradient(yellow, red);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
  }
  
  nav ul li a:hover {
    background-size: 100% 2px;
    text-decoration: none;
    color: #fff;
  }
  
  nav ul li a:not(:only-child):after {
    padding-left: 5px;
    content: ' ▾';
  }
  
  .nav-submenu {
    width:auto;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: auto;
    display: none;
  }
  
  .nav-submenu li {
     width: 100%;
     white-space: nowrap;
  }
  
  .nav-movil {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #2b2c2c;
    height: 70px;
    width: 100%;
  }
  
  @media screen and (max-width: 1200px) {
    .nav-movil {
      display: block;
    }
  
    .nav-menu {
      display: none;
      margin-top: 70px;
    }
    
    .nav-menu li {
      float: none;
    }
    .nav-menu li a {
      padding: 20px;
      line-height: 20px;
    }
    .nav-menu li ul li a {
      padding-left: 30px;
    }
    
    .nav-submenu {
      position: static;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .nav-menu {
      display: block !important;
    }  
  }
  
  #nav-boton {
    position: absolute;
    right: 50px;
    top: 25px;
    cursor: pointer;
    width:20px;
    height: 10px;
    padding: 5px 15px 15px 0px;
    z-index:1;
  }
  
  #nav-boton span,
  #nav-boton span:after,
  #nav-boton span:before {
    transition: all 500ms ease-in-out;
    border-radius: 1px;
    height: 5px;
    width: 40px;
    position: absolute;
    display: block;
    content: "";
    background: #fff;
  }
  
  #nav-boton span:before {
    top: -10px;
  }
  #nav-boton span:after {
    bottom: -10px;
  }
  
  #nav-boton.activo span {
    background-color: transparent;
  }
  
  #nav-boton.activo span:before,
  #nav-boton.activo span:after {
    top: 0;
  }
  
  #nav-boton.activo span:after {
    transform: rotate(-45deg);
  }
  
  #nav-boton.activo span:before {
    transform: rotate(45deg);
  }
  

/*Section Introduction*/
.Introduction_wrap{
    background-color:#313131 ;
}

.Introduction,.Introduction-container{
    padding-top: 1%;
    background-color: #2b2c2c;
}
.test{
    height: 22rem;
    padding: 2% 0 2% 0%;
    display: flex;
}
.col-Introduction{
    width: 40%;
}
.col-photo{
    width: 60%;
}
.personal-img{
    text-align: center;
}
.myname-title{
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
}
.myname-fast-description{
    width: auto;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    padding-top: 20%;
}

/*Section about me*/
.about_wrap{
    background-color: #313131;
}
.about-title{
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
}
.font-about_title{
    font-size: 50px;
}
.about-description{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 2%;
}

/*Section Work area*/
.workArea_wrap{
    background-color: #2b2c2c;
}
.workArea-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
    justify-content: center;
    padding-top: 3%;
    padding-bottom:2%;
}
.workArea-description{
    text-align: center;
}
.work-area_img{
    justify-content: center;
    padding-bottom: 2%;
}

/*Section skills*/
.skills_wrap{
    background-color: #313131;
}
.skills-container{
    justify-content: center;
}
.skills-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
}
.soft-skills-container,.hard-skills-container{
    display: none;
    text-align: justify;
}
.strong-font{
    color:#ffc300
}

/*Section languages*/
.languages_wrap{
    background-color: #2b2c2c;
}
.languages-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
    justify-content: center;
    padding-top: 3%;
    padding-bottom:2%;
}
.espanol,.ingles,.portugues{
    text-align: center;
}
.progress-bar {
    border: 2px solid #ffc300;
    border-radius: 14px;
    width: 30%;
    height: 29px;
    margin-left: 35%;
 } 
 
 .progress-bar > div {
    color: rgb(0, 0, 0);
    background: #ffc300;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-animation: progress-bar 2s;
    -moz-animation: progress-bar 2s;
 } 
 
 @-webkit-keyframes progress-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes progress-bar {
    0% { width: 0; }
 }

 .popup-button{
    text-align: -webkit-center;
    padding-bottom: 2%;
 }
 .popup{
    display: none;
    width: 30%;
    height: auto;
    text-align: initial;
    justify-content: center;
    background-color: black;
    padding-left: 2%;
    margin-top: 1%;;
  }

  /*Section experience*/
.work-experience_wrap{
    background-color: #313131;
}
.workExp-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
    justify-content: center;
}
.experience_single_item {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #5a5a5a;
    padding-top: 3%;
}

.experience_single_item:hover{
    background-color: black;
}

/*Section studies*/
.studies_wrap{
    background-color: #2b2c2c;
    padding: 120px 0 130px;
}

/*Section certifications*/
.certifications_wrap{
    background-color: #313131;
    padding: 120px 0 130px;
}

.certifications-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
    justify-content: center;
}
.font-certifications_title{
    font-size: 43px;
}

/*Section projects*/
.projects_wrap{
    background-color: #2b2c2c;
}
.projects-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
    justify-content: center;
    padding-top: 3%;
    padding-bottom:2%;
}
.projects-description{
    justify-content: center;
}
.font-projects{
    color: #2b2c2c;
    text-align: justify;
}
.row-mobile {
    justify-content: center;
}

/*Section contact*/
.contact_wrap{
    background-color:#313131 ;
    justify-content: center;
}
.contact-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
    justify-content: center;
}
.contact-description{
    justify-content: center;
}
.con_info_menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.correo,.telefono,.linkedin{
    padding-bottom: 2%;
}

/*Section footer*/
.footer_wrap{
    background-color: #2b2c2c;
}
.footer-img{
    padding: 2%;
    justify-content: center;
    text-align: center;
}

/*Mediaqueries*/


/*Tablet*/
@media (min-width: 576px) and (max-width: 991.98px) {
    /*Section Introduction*/
    .Introduction-container {
        height: 25rem;
    }
    .test {
        height: 22rem;
        padding: 2% 0 2% 0%;
        display: block !important;
    }
    .col-Introduction {
        width: 100%;
    }
    .col-photo {
        width: 100%;
        height: 50%;
    }
    .myname-title{
        text-align: center;
        margin-top: 1%;
    }
    .myname-fast-description{
        padding-top: 10%;
    }

    /*Section About me*/

    /*Section Work area*/
    .workArea-title {
        text-align: center;
    }

    /*Section Skills*/
    .skills_wrap{
        text-align: center;
    }
    .soft-skills-container, .hard-skills-container {
        text-align: initial;
    }
    .font-skills {
        font-size: 17px;
    }

    /*Section Languages*/
    .popup {
        width: 42%;
    }

    /*Section Work Experience*/
    .work-experience_wrap{
        padding: 40px 0 40px;
    }
    .workExp-title {
        text-align: center;
    }
    .mobile-row {
        display: inline-flex !important;
    }
    .experience_single_item:hover {
        text-align: justify;
    }

    /*Section studies*/
    .studies_wrap {
        padding: 40px 0 40px;
    }
    .font-about_title {
        font-size: 45px;
    }

    /*Section Certifications*/
    .certifications_wrap {
        padding: 40px 0 40px;
    }
    .font-certifications_title {
        font-size: 40px;
        text-align: center;
        padding-bottom: 10px;
    }

    /*Section projects*/
    .projects_wrap{
        padding: 40px 0 40px;
    }
    .projects-title, .projects-description {
        text-align: center;
    }
   
    /*Section contact*/
    .contact_wrap{
        padding: 40px 0 40px;
    }
    .con_info_menu {
        margin-left: -25px;
    }
    .correo, .telefono, .linkedin {
        font-size: 17px;
    }

    /*Section footer*/
    .footer_wrap{
        padding: 40px 0 40px;
    }

    .about-title {
        text-align: center;
    }
}
/*fin tablet */


/*movil*/
@media (max-width: 575.98px) {
    /* .logo{
        display: inline-flex;
    }
    .navbar-brand {
        width: 100%;
    }
    .menu {
        display: contents;
    }
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width: 75%;
        text-align: center;
    } */

    /*Section Introduction*/
    .Introduction_wrap{
        background-color: #2b2c2c;
    }
    .Introduction-container{
        display: block;
        height: 30rem;
    }
    .test {
        display: block !important;
    }
    .col-Introduction {
        width: 100%;
    }
    .col-photo {
        width: 100%;
        height: 50%;
    }
    .myname-title{
        text-align: center;
        margin-top: 1%;
    }
    .myname-fast-description{
        padding-top: 10%;
    }
    /*Section About me*/
    

    /*Section Work area*/
    .workArea-title {
        text-align: center;
    }

    /*Section Skills*/
    .skills_wrap{
        text-align: center;
    }
    .soft-skills-container, .hard-skills-container {
        text-align: initial;
    }
    .font-skills {
        font-size: 17px;
    }

    /*Section Languages*/
    .popup {
        width: 42%;
    }

    /*Section Work Experience*/
    .work-experience_wrap{
        padding: 40px 0 40px;
    }
    .workExp-title {
        text-align: center;
    }
    .mobile-row{
        display: block !important;
        margin:0% 2% !important;
    }
    .experience_single_item:hover {
        text-align: justify;
    }

    /*Section studies*/
    .studies_wrap {
        padding: 40px 0 40px;
    }

    /*Section Certifications*/
    .certifications_wrap {
        padding: 40px 0 40px;
    }
    .font-certifications_title {
        text-align: center;
        padding-bottom: 10px;
    }

    /*Section projects*/
    .projects_wrap{
        padding: 40px 0 40px;
    }
    .projects-title, .projects-description {
        text-align: center;
    }
    /*Section contact*/
    .contact_wrap{
        padding: 40px 0 40px;
    }
    .con_info_menu {
        margin-left: -25px;
    }
    .correo, .telefono, .linkedin {
        font-size: 17px;
    }

    /*Section footer*/
    .footer_wrap{
        padding: 40px 0 40px;
    }

    .about-title {
        text-align: center;
    }
 }
/*fin movil*/