@charset "UTF-8";
* {
font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
}
header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  /*position: fixed;
  z-index: 100;*/
}
.start{
    padding-top: 1%;
}
.nav,.start{
    background-color: #2b2c2c;
}
.navbar-brand{
    width: 30%;
}
li{
    text-decoration: none;
    display: inline-flex;
}
.nav-link{
    font-size: 18px;
    text-decoration: none;
    background-image: linear-gradient(yellow, red);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.nav-link:hover, .nav-link:focus {
    background-size: 100% 2px;
    color: red;
}
.personal-img{
    text-align: center;
}
.myname-title{
    margin-top: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 54px;
}
.myname-fast-description{
    width: auto;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    padding-top: 20%;
}
.about-container{
    background-color: #313131;
}
.about-title{
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
}
.font-about_title{
    font-size: 50px;
}
.about-description{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 2%;
}
.workArea-container{
    background-color: #2b2c2c;
}
.workArea-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
    justify-content: center;
    padding-top: 3%;
    padding-bottom:2%;
}
.workArea-description{
    text-align: center;
}
.work-area_img{
    justify-content: center;
    padding-bottom: 2%;
}

.skills-container{
    background-color: #313131;
    text-align: center;
}
.skills-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
}
.soft-skills-container,.hard-skills-container{
    display: none;
    text-align: justify;
}
.strong-font{
    color:#ffc300
}
.languages-container{
    background-color: #2b2c2c;
}
.languages-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
    justify-content: center;
    padding-top: 3%;
    padding-bottom:2%;
}
.espanol,.ingles,.portugues{
    text-align: center;
}
.progress-bar {
    border: 2px solid #ffc300;
    border-radius: 14px;
    width: 30%;
    height: 29px;
    margin-left: 35%;
 } 
 
 .progress-bar > div {
    color: rgb(0, 0, 0);
    background: #ffc300;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-animation: progress-bar 2s;
    -moz-animation: progress-bar 2s;
 } 
 
 @-webkit-keyframes progress-bar {
   0% { width: 0; }
 } 
 
 @-moz-keyframes progress-bar {
    0% { width: 0; }
 }

 .popup-button{
    text-align: -webkit-center;
    padding-bottom: 2%;
 }
 .popup{
    display: none;
    width: 30%;
    height: auto;
    text-align: initial;
    justify-content: center;
    background-color: black;
    padding-left: 2%;
    margin-top: 1%;;
  }

.work-container{
    background-color: #313131;
}
.workExp-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
    justify-content: center;
}
.experience_single_item {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #5a5a5a;
    padding-top: 3%;
}

.experience_single_item:hover{
    background-color: black;
}
.studies_wrap{
    background-color: #2b2c2c;
    padding: 120px 0 130px;
}
.contact_wrap{
    background-color: #313131;
    justify-content: center;
}
.contact-title{
    text-decoration: underline #ffc300;
    text-decoration-style: wavy;
    justify-content: center;
}
.contact-description{
    justify-content: center;
}
.con_info_menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.correo,.telefono,.linkedin{
    padding-bottom: 2%;
}
.footer_wrap{
    background-color: #2b2c2c;
}
.footer-img{
    padding: 2%;
    justify-content: center;
    text-align: center;
}

/*Mediaqueries*/


/*Tablet*/
@media (min-width: 576px) and (max-width: 991.98px) {
    .logo{
        display: inline-flex;
    }
    .navbar-brand {
        width: 100%;
    }
    .menu {
        display: contents;
    }
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width: 75%;
        text-align: center;
    }
    .myname-title{
        text-align: center;
        margin-top: 1%;
    }
    .myname-fast-description{
        padding-top: 10%;
    }
    .soft-skills-container, .hard-skills-container {
        text-align: initial;
    }
    .popup {
        width: 42%;
    }
    .studies_wrap {
        padding-top: 1%;
        padding-bottom: 3%;
    }
    .about-title {
        text-align: center;
    }
}
/*fin tablet */


/*movil*/
@media (max-width: 575.98px) {
    .logo{
        display: inline-flex;
    }
    .navbar-brand {
        width: 100%;
    }
    .menu {
        display: contents;
    }
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width: 75%;
        text-align: center;
    }
    .myname-title{
        text-align: center;
        margin-top: 1%;
    }
    .myname-fast-description{
        padding-top: 10%;
    }
    .soft-skills-container, .hard-skills-container {
        text-align: initial;
    }
    .popup {
        width: 42%;
    }
    .studies_wrap {
        padding-top: 1%;
        padding-bottom: 3%;
    }
    .about-title {
        text-align: center;
    }
 }
/*fin movil*/